{% extends 'base.html' %}

{% block title %}Add Song{% endblock %}

{% block content %}

<div class="container-fluid">
    <form action="/add_song" method="post">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tbody>
        <tr id="field_{{ field.auto_id }}">
	        <td>
	              <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
            	</td>
            <td>
            {{field}} 
            </td>
            {% if field.auto_id == 'id_author' or field.auto_id == 'id_author_choice' %}
                 <td><button type="button" id="toggleAuthor">Add/Existing</button></td>
            {% endif %}
            {% if field.auto_id == 'id_publisher' or field.auto_id == 'id_publisher_choice' %}
                 <td><button type="button" id="togglePublisher">Add/Existing</button></td>
            {% endif %}
            {% if field.auto_id == 'id_song_type' or field.auto_id == 'id_type_choice' %}
                 <td><button type="button" id="toggleType">Add/Existing</button></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="OK">
    </form>
</div>

{% endblock %}
